.top_logo{
    text-align: center;
}

.top_img2col{
    display: flex; 
    justify-content: center; 
    margin: 100px 0 ; 
    width: 80%;
}


.cath01{
    text-align: center;
}



.cath01 h2 {
    font-size: 60px!important;
    font-weight: 500;
}

.cath01sub{
    display: inline-block;
    margin: 0 0 0 40px;
    font-size: 18px;
}

.cath01_02{
    font-weight: 600;
    margin: 10px 0 40px 0;
    font-size: 22px;
}

.top_text{
    width: 66%;
    margin: 0 0 80px;
}

.cath02{
text-align: left;
    width: 66%;
}


.cath02 h2{
    font-size: 40px!important;
    font-weight: 500;
    text-align: left;
    margin: 0 0 40px;
}

.cath02sub{
    font-size: 18px;

}

.cath02_02{
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    margin: 0 0 20px;
}

.cont03{
    width: 66%;
}


section#cont04 {
    padding: 0 0px 0px 0px;
    height: 100vw;
    display: block;
    background-image: url("https://nakagawa07.github.io/ACCELStars2/images/img_03_bg_pc2.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
    font-weight: bold;
    width: 100vw;
    color: #fff;
}




.cont04_box{
    margin: 60px auto;
    width: 38%;
    position: relative;
    top: 36%;
    left: 260px;
}

.cont04_box dl{
    padding: 0px 0px;
/*    margin: 0px 60px 25px 450px;*/
    width: 100%;
    line-height: 68px;
}

.cont04_box dt{
    float: left;
    border-color: #fff;
    border-top: 1px solid #fff;
}


.cont04_box dd{
    padding-left: 200px;
    border-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.cont04_box h3{
    margin: 0 auto 30px;
    width: 50%;
    text-align: center;
}


.cont5{
    margin: 100px 0;
}

.cont5 h2{
    margin: 0 0 40px;
}

.cont5 table{
    margin: 40px 0 0 ;
}

.cont5 table th, td, tr{
    border-bottom: solid 1px #333;
}

.cont5 table th{
    text-align: left;
}

.cont5 table td{
    color: #7b7b7b;
}

.text_black{
    color: #000!important;
}

.cont6_img{
    width: 100%;
}

.cont5_text{
    margin: 0 auto 60px;
    width: 66%;
}

.cont6{
    width: 66%;
    margin: 0 auto;
}

.cont6_txt{
    margin: 40px 0 0;
}

.cont6_text_s{
    display: inline-block;
    font-size: 90%;
    margin: 20px 0;
}


.cont7{
    width: 90%;
}

.cont07_box{
    width: 78%;
    margin: 0 0 0 auto;
}

.cont07_box table{
    width: 58%;
    margin: 20px 0 0 auto;
}

.cont07_box th{
    font-weight: 100;
    font-size: 14px;
    white-space: nowrap;
    text-align: left;
}

.cont07_box td{
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
}


.cont07_box h3{
    width: 66%;
    margin: 0 0 0 auto;
    text-align: center;
}


.cont07_box ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.cont07_box hr {
    background-color: #000;
    border: none;
    height: 1px;
    width: 100%!important;
}

body {
 overflow-x: hidden;
}
