{{ $bkg := "" }}

{{ if .Params.images }}
{{ if gt (len .Params.images) 0 }}
{{ $bkgImage := print (index .Params.images 0) }}
{{ $bkgURL := printf "%s%s" $.Site.BaseURL $bkgImage }}
{{ $bkg = printf "%s%s%s" "background-image: url('" $bkgURL "');"}}
{{ end }}
{{ end }}

<section class="hero bkg-image" style="{{ safeCSS $bkg }}" id="hero">

    <!-- Content -->
    {{ .Content }}
    
    <div class="top_logo"><img src="{{ .Site.BaseURL }}images/logo.png" alt=""></div>
    
    
    
    <section class="sec_news">
    
    <div class="news_h2">NEWS</div>
    <ul>
      {{ range first 2 .Site.RegularPages.ByDate.Reverse }}
        <li>
          <time>{{.Date.Format "1月2日"}}</time>
          <a href="{{.RelPermalink}}">{{.Title}}</a>
        </li>
      {{ end }}
      <li><a href="/blog/">▶ Archives</a></li>
    </ul>
    
    
    
    </section>

    
    

    <section>
        <div class="top_img2col">
            <div class="top_img2col_img"><img src="{{ .Site.BaseURL }}images/ac_img_01.jpeg" alt=""></div>
            <div class="top_img2col_img pconry"><img src="{{ .Site.BaseURL }}images/ac_img_02.jpeg" alt=""></div>
        </div>
    </section>
    
    
    <section>
       <div class="sec01">
            <div class="sec01_img pconry"><img src="{{ .Site.BaseURL }}images/bar01.jpg" alt=""></div>
            <div class="sec01_txt">
                <div class="cath01 pconry">
                    <h2>Vision <span class="cath01sub">睡眠を解明し、新たな治療を創造する</span></h2>
                    <div class="cath01_02">Creation of new treatments by elucidating sleep.</div>
                </div>
                
        <div class="sponry">
            <h2 class="sponry sph2">Vision</h2>
            <div class="sptxt sponry"><p>睡眠を解明し、新たな治療を創造する<br>
            Creation of new treatments by elucidating sleep.</p></div>
        </div>

                <div class="top_text">
                    <p>多くの精神疾患・神経変性疾患・発達障害は、なんらかの睡眠障害をきたすことが最新の医学研究により明らかになってきており、睡眠障害はそれらの疾患を引き起こす原因の一つとなっていることが強く疑われております。</p>
                    <p>私達は、睡眠情報を正確に観測することで疾患メカニズムを解明し、その結果として精神疾患・神経変性疾患・発達障害の診断・予防・治療につなげるというチャレンジを行っていきます。</p>
                    <p>このビジョンを実現するために、世界最高精度の睡眠測定技術を搭載したウェアラブルデバイスとデータ基盤を開発し、睡眠データと様々な医療データを掛け合わせることで生まれる新たな医療サービスの実現を目指します。</p>
                </div>
            </div>
        </div>
            <div class="top_img2col_img sponry"><img src="{{ .Site.BaseURL }}images/ac_img_02.jpeg" alt=""></div>
    </section>
    
    
    <section class="sec02">
        
        <div class="sec02_cont">
            <div class="sec02_cath">
                <h2>睡眠と疾患の関係</h2>
                <p>睡眠は脳の病気の高感度デジカルマーカー</p>
            </div>

            <div class="sec02_img pconry">
                <img src="{{ .Site.BaseURL }}images/back02.png" alt="">
            </div>
            <div class="sec02_img sponry">
                <img src="{{ .Site.BaseURL }}images/sp_back02.png" alt="">
            </div>

            <div class="sec02_txt">
                <div class="sec02_txt01">
                    <p>ほぼ全ての精神疾患・中枢神経疾患は睡眠障害を併発</p>
                </div>
                <div class="triangle3"></div>
                <div class="sec02_txt02">
                    睡眠の把握が治療に効果的
                </div>
            </div>
        </div>
        
        
        
    </section>
    
    
    
    <section class="sec03">
    
    <div class="sec03_cont">
        <div class="sec03_cath pconry">
            <h2 class="pconry">Technology</h2>
            <p class="pconry">睡眠障害検知には中途覚醒の正しい検出が不可欠である。<br>
            ACCELStars社は（中途覚醒を含む）覚醒を正しく検知可能。</p>
        </div>
        
        <div class="sponry">
            <h2 class="sponry sph2">Technology</h2>
            <div class="sptxt sponry"><p>睡眠障害検知には中途覚醒の正しい検出が不可欠である。<br>
            ACCELStars社は（中途覚醒を含む）覚醒を正しく検知可能。</p></div>
        </div>
        

        <div class="sec03_imgbox">
            <div class="sec03_img pconry"><img src="{{ .Site.BaseURL }}images/pctable.png" alt=""></div>
            <div class="sec03_img sponry"><img src="{{ .Site.BaseURL }}images/sptable.png" alt=""></div>
            <div class="sec03_imgtxt">特異度とは<br>
            病気を診断する際の尺度。特異度が高いとは、疾病がない人を陰性と判定する確率が高いことを意味する。病気を持っている確率を高く判定が可能。
            </div>
        </div>
    </div>
    
    </section>
    
    
    
    
    <section class="sec04">
        <div class="sec04_bar">
           <div class="sec04_bar01">
                <div class="sec04_cont">
                    <div class="sec04_cath">
                        <h2>Strategy & Project</h2>
                        <div class="sec04_cath_txt">睡眠データを軸に人間システムを解明し、予防・治療を実現</div>
                        <p>人間のメカニズムを解明するPHR＋ウェラブルを軸としたデータプラットフォームで新たな予防と治療を実現していく</p>
                    </div>

                    <div class="sec04_flex">

                        <div class="sec04_flex_cont">
                            <div class="sec04_flex_cont01">睡眠健診</div>
                            <div class="sec04_flex_cont02_flex">
                                <div class="sec04_flex_cont02 sp_text_center">健康産業や<br class="pc">健康デバイスメーカーと<br class="pc">業務提携</div>
                                <div class="sec04_flex_cont03"><img src="{{ .Site.BaseURL }}images/img01.jpg" alt=""></div>
                            </div>
                        </div>
                        <div class="sec04_flex_cont">
                            <div class="sec04_flex_cont01">治験開発支援 </div>
                            <div class="sec04_flex_cont02_flex">
                            <div class="sec04_flex_cont02">
                                <div class="stepbox"><div class="stepboximg"><img src="{{ .Site.BaseURL }}images/step01.jpg" alt=""></div><div class="stepboxtext">小規模自治体での展開<span>自治体長の強い推薦</span></div></div>
                                <div class="stepbox"><div class="stepboximg"><img src="{{ .Site.BaseURL }}images/step02.jpg" alt=""></div><div class="stepboxtext">広域エリアへの展開<span>小規模自治体から広域連合の医療圏へと進める</span></div></div>
                                <div class="stepbox"><div class="stepboximg"><img src="{{ .Site.BaseURL }}images/step03.jpg" alt=""></div><div class="stepboxtext">全国展開へ<span>学会を起点として全国へ広げる</span></div></div>
                                
                            </div>
                            </div>
                        </div>
                        <div class="sec04_flex_cont">
                            <div class="sec04_flex_cont01">睡眠医療</div>
                            <div class="sec04_flex_cont02_flex">
                            <div class="sec04_flex_cont02 sp_text_center">病院や大学との連携<br>
                            <span class="text_s">無呼吸症候群の簡易診断での共同研究<br>
                            パーキンソン病での共同研究<br>
                            鬱病・躁鬱病・統合失調症での共同研究<br>
                            小児発達障害・てんかんの共同研究</span></div>
                            <div class="sec04_flex_cont03"><img src="{{ .Site.BaseURL }}images/img03.jpg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec04_bar02 pconry"><img src="{{ .Site.BaseURL }}images/bar03.jpg" alt=""></div>
        </div>
        
    </section>
    
    
    
    
    
    
    
    
    <section class="sec05">
    
    <div class="sec05_cont">
    
    <h2 class="sponry">経営陣</h2>
    
    <table>
        <thead>
            <tr class="pconry">
                <th><span>経営陣</span></th>
                <td> </td>
            </tr>
            <tr>
                <th>代表取締役CEO</th>
                <td>宮原　禎</td>
            </tr>
            <tr>
                <th>取締役CTO</th>
                <td>上田　泰己</td>
            </tr>
            <tr>
                <th>取締役</th>
                <td>見満　周宜</td>
            </tr>
            <tr>
                <th>取締役</th>
                <td>岩佐　琢磨</td>
            </tr>
        </thead>
    </table>
    
    </div>
    
    </section>
    
    
    
    
    
    
        <section>
       <div class="sec06">
            <div class="sec06_img pconry"><img src="{{ .Site.BaseURL }}images/bar02.jpg" alt=""></div>
            <div class="sec06_table">
            <h2 class="sponry">会社概要</h2>
              <table>
                   <thead>
                    <tr class="pconry">
                    <th><span>会社概要</span></th><td> </td>
                    </tr>
                    <tr>
                    <th>社名</th><td><span>株式会社ACCELStars</span></td>
                    </tr>
                    <tr>
                    <th>業種</th><td><ul><li>睡眠測定医療機器ウェアラブルデバイス開発事業</li><li>睡眠データの臨床試験や治験への活用事業</li><li>睡眠測定の健康診断事業</li></ul></td>
                    </tr>
                    <tr>
                    <th>住所</th><td>福岡オフィス<br>〒839-0864<br>福岡県久留米市百年公園1番1号<hr>東京オフィス<br>〒113-8485<br>東京都文京区本郷7-3-1<br>東京大学南研究棟アントレプレナーラボ</td>
                    </tr>
                    <tr>
                    <th>問い合わせ先</th><td>contact@accelstars.com</td>
                    </tr>
                    </thead>
              </table>
            </div>
        </div>
    </section>
    

    
    
    
    



</section>