{{ $bkg := "" }}

{{ if .Params.images }}
{{ if gt (len .Params.images) 0 }}
{{ $bkgImage := print (index .Params.images 0) }}
{{ $bkgURL := printf "%s%s" $.Site.BaseURL $bkgImage }}
{{ $bkg = printf "%s%s%s" "background-image: url('" $bkgURL "');"}}
{{ end }}
{{ end }}

<section class="hero bkg-image" style="{{ safeCSS $bkg }}" id="hero">

    <!-- Content -->
    {{ .Content }}
    
    <div class="top_logo"><img src="{{ .Site.BaseURL }}images/logo.png" alt="ACCELStars"></div>
    
    
    
    <section class="sec_news">
    
    <div class="news_h2">NEWS</div>
    <ul>
      {{ range first 2 .Site.RegularPages.ByDate.Reverse }}
        <li>
          <time>{{.Date.Format "1月2日"}}</time>
          <a href="{{.RelPermalink}}">{{.Title}}</a>
        </li>
      {{ end }}
      <li><a href="/blog/">▶ Archives</a></li>
    </ul>
    
    
    
    </section>

    
    

    <section>
        <div class="top_img2col">
            <div class="top_img2col_img"><img src="{{ .Site.BaseURL }}images/ac_img_01.jpeg" alt="ACCELStars睡眠を解明し、新たな治療を創造する"></div>
            <div class="top_img2col_img pconry"><img src="{{ .Site.BaseURL }}images/ac_img_02.jpeg" alt="ACCELStars睡眠を解明し、新たな治療を創造する"></div>
        </div>
    </section>
    
    
    <section>
       <div class="sec01">
            <div class="sec01_img pconry"><img src="{{ .Site.BaseURL }}images/bar01.jpg" alt="背景画像"></div>
            <div class="sec01_txt">
                <div class="cath01">
                    <h2><a id="menu01" class="anchor">Vision</a></h2>
                    <div class="cath01sub">睡眠を解明し、新たな治療を創造する</div>
                </div>
                <div class="cath01_02">Creation of new treatments <br class="sp">by elucidating sleep.</div>

                <div class="top_text">
                    <p>多くの精神疾患・神経変性疾患・発達障害は、なんらかの睡眠障害をきたすことが最新の医学研究により明らかになってきており、睡眠障害はそれらの疾患を引き起こす原因の一つとなっていることが強く疑われております。</p>
                    <p>私達は、睡眠情報を正確に観測することで疾患メカニズムを解明し、その結果として精神疾患・神経変性疾患・発達障害の診断・予防・治療につなげるというチャレンジを行っていきます。</p>
                    <p>このビジョンを実現するために、世界最高精度の睡眠測定技術を搭載したウェアラブルデバイスとデータ基盤を開発し、睡眠データと様々な医療データを掛け合わせることで生まれる新たな医療サービスの実現を目指します。</p>
                </div>
            </div>
        </div>
            <div class="top_img2col_img sponry"><img src="{{ .Site.BaseURL }}images/ac_img_02.jpeg" alt="ACCELStars睡眠を解明し、新たな治療を創造する"></div>
    </section>
    
    
    <section class="sec02">
        
        <div class="sec02_cont">
            <div class="sec02_cath">
                <h2><a id="menu02" class="anchor">睡眠と疾患の関係</a></h2>
                <p>睡眠は脳の好感度のデジタルバイオマーカー</p>
            </div>

            <div class="sec02_img pconry">
                <img src="{{ .Site.BaseURL }}images/back02.png" alt="精神疾患・中枢神経疾患・発達障害">
            </div>
            <div class="sec02_img sponry">
                <img src="{{ .Site.BaseURL }}images/sp_back02.png" alt="精神疾患・中枢神経疾患・発達障害">
            </div>

            <div class="sec02_txt">
                <div class="sec02_txt01">
                    <p>ほぼ全ての精神疾患・中枢神経疾患は睡眠障害を併発</p>
                </div>
                <div class="triangle3"></div>
                <div class="sec02_txt02">
                    睡眠の把握が診断・予防・治療へ繋がる
                </div>
            </div>
        </div>
        
        
        
    </section>
    
    
    
    <section class="sec03">
    
    <div class="sec03_cont">
        <div class="sec03_cath pconry">
            <h2 class="pconry"><a id="menu03" class="anchor">Technology</a></h2>
            <p class="pconry">睡眠障害検知には中途覚醒の正しい検出が不可欠である。<br>
            ACCELStars社は（中途覚醒を含む）覚醒を正しく検知可能。</p>
        </div>
        
        <div class="sponry">
            <h2 class="sponry sph2">Technology</h2>
            <div class="sptxt sponry"><p>睡眠障害検知には中途覚醒の正しい検出が不可欠である。<br>
            ACCELStars社は（中途覚醒を含む）覚醒を正しく検知可能。</p></div>
        </div>
        

        <div class="sec03_imgbox">
            <div class="sec03_img pconry"><img src="{{ .Site.BaseURL }}images/pctable.png" alt="ウェアラブルデバイス・手法　表"></div>
            <div class="sec03_img sponry"><img src="{{ .Site.BaseURL }}images/sptable.png" alt="ウェアラブルデバイス・手法　表"></div>
            <div class="sec03_imgtxt">特異度とは、PSG装置の睡眠と覚醒を真のデータとした際に、当社のウェラブルデバイスとアルゴリズムが、覚醒を判定できる確率のことです。
            </div>
        </div>
    </div>
    
    </section>
    
    
    
    
    <section class="sec04">
        <div class="sec04_bar">
           <div class="sec04_bar01">
                <div class="sec04_cont">
                    <div class="sec04_cath">
                        <h2><a id="menu04" class="anchor">Strategy & Project</a></h2>
                        <div class="sec04_cath_txt">睡眠データを軸に人間システムを解明し、診断・予防・治療を実現</div>
                        <p>人間のメカニズムを解明するPHR＋ウェラブルを軸としたデータプラットフォームで新たな診断・予防・治療を実現していく</p>
                    </div>

                    <div class="sec04_flex">

                        <div class="sec04_flex_cont">
                            <div class="sec04_flex_cont01">睡眠健診</div>
                            <div class="sec04_flex_cont02_flex">
                                <div class="sec04_flex_cont02 sp_text_center">自治体・企業・保険者と連携し、<br class="pc">睡眠健診を実施</div>
                                <div class="sec04_flex_cont03"><img src="{{ .Site.BaseURL }}images/img01.jpg" alt="睡眠健診"></div>
                            </div>
                        </div>
                        <div class="sec04_flex_cont">
                            <div class="sec04_flex_cont01">臨床研究支援</div>
                            <div class="sec04_flex_cont02_flex">
                                <div class="sec04_flex_cont02 sp_text_center">製薬企業、医療機器メーカー、食品メーカーなどの<br class="pc">臨床試験を睡眠データを活用し支援</div>
                                <div class="sec04_flex_cont03"><img src="{{ .Site.BaseURL }}images/img02.jpg" alt="治験開発支援"></div>
                            </div>
                        </div>
                        <div class="sec04_flex_cont">
                            <div class="sec04_flex_cont01">睡眠医療</div>
                            <div class="sec04_flex_cont02_flex">
                            <div class="sec04_flex_cont02 sp_text_center">病院や大学との連携<br>
                            <span class="text_s">無呼吸症候群の簡易診断での共同研究<br>
                            パーキンソン病での共同研究<br>
                            鬱病・躁鬱病・統合失調症での共同研究<br>
                            小児発達障害・てんかんの共同研究</span></div>
                            <div class="sec04_flex_cont03"><img src="{{ .Site.BaseURL }}images/img03.jpg" alt="睡眠医療"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec04_bar02 pconry"><img src="{{ .Site.BaseURL }}images/bar03.jpg" alt="背景画像"></div>
        </div>
        
    </section>
    
    
    
    
    
    
    
    
    <section class="sec05">
    
    <div class="sec05_cont">
    

    <div class="teamprofile">
    
    <h2><a id="menu05">経営陣</a></h2>
    
    <table>
        <thead>
            <tr>
                <th>代表取締役CEO</th>
                <td>宮原　禎</td>
            </tr>
            <tr>
                <th>取締役CTO</th>
                <td>上田　泰己</td>
            </tr>
            <tr>
                <th>取締役</th>
                <td>見満　周宜</td>
            </tr>
            <tr>
                <th>取締役</th>
                <td>岩佐　琢磨</td>
            </tr>
        </thead>
    </table>
    <div class="teamprofile_link"><a href="/about/">▶&nbsp;&nbsp;Team Profile</a></div>
    </div>
    
    </div>
    
    </section>
    
    
    
    
    
    
        <section>
       <div class="sec06">
            <div class="sec06_img pconry"><img src="{{ .Site.BaseURL }}images/bar02.jpg" alt="背景画像"></div>
            <div class="sec06_table">
               
               <h2><a id="menu06" class="anchor">会社概要</a></h2>
               
              <table>
                   <thead>
                    <tr>
                    <th>社名</th><td><span>株式会社ACCELStars</span></td>
                    </tr>
                    <tr>
                    <th>業種</th><td><ul><li>睡眠測定医療機器ウェアラブルデバイス開発事業</li><li>睡眠データの臨床試験や治験への活用事業</li><li>睡眠測定の健康診断事業</li></ul></td>
                    </tr>
                    <tr>
                    <th>住所</th><td>福岡オフィス<br>〒839-0864<br>福岡県久留米市百年公園1番1号<hr>東京オフィス<br>〒113-8485<br>東京都文京区本郷7-3-1<br>東京大学南研究棟アントレプレナーラボ</td>
                    </tr>
                    <tr>
                    <th>問い合わせ先</th><td>contact@accelstars.com</td>
                    </tr>
                    </thead>
              </table>
            </div>
        </div>
    </section>
    

    
    
    
    



</section>